Test-Command: curl -L 'https://github.com/defo-project/ech-dev-utils/archive/refs/heads/main.tar.gz' | tar xz; cd ech-dev-utils-main; PACKAGING=1 scripts/testhaproxy.sh
Restrictions: needs-internet, needs-root, allow-stderr
Depends: ca-certificates, haproxy, lighttpd-mod-openssl, curl
